// Place all the styles related to the public::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slide-image {
  height: 550px;
  width: 100%;
  margin:  auto;
  opacity: 0.7;
}

.slick-dots {
  bottom: -40px!important;
  li {
    font-size: 30px !important;
    button:before {
      font-size: 18px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}

.ityped-cursor {
  font-size: 1em;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
      opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}

.position-box {
  position: relative;
  padding-top: 30px;
}

.ityped-message-box {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 35%;
  left: 10%;
}

.ityped-message {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 5px;
  background-color: rgba(242,242,242,0.3);
}

.link-box {
 width: 95%;
 margin: 0 auto;
 padding: 75px 0;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.about-h3 {
  display: inline-block;
  margin: 10px 0 30px!important;
  padding: 10px 20px;
  font-size: 1.5rem!important;
  background-color: lavender;
  border-radius: 3px;
}

.about-h4 {
  display: inline-block;
  margin: 10px 0 30px!important;
  padding: 10px 20px;
  font-size: 1.25rem!important;
  background-color: lavender;
  border-radius: 3px;
}



.recommented-user {
  padding-bottom: 50px;
}

.manner {
  padding-bottom: 50px;
}

.top-messages {
  width: 90%;
  margin: 0 auto;
  padding: 75px 0 30px;
}

.top-message {
  text-align:center;

  font-weight: bold;
  padding-bottom: 75px;
}

.common-message-style {
  font-size: 1.5rem;
  padding-bottom: 75px;
}

.right-message {
  text-align: right;
}

.common-message-style > span {
  font-weight: bold;
  font-size: 1.7rem;
  color: #F6ADC6;
  letter-spacing: 3px;
}

.top-messages > p {
  text-align: center;
}

.recommended-user {
  padding-bottom: 50px;
}

.recommended-ul > li {
  font-size: 1.3rem;
  line-height: 2.8rem;
  font-weight: bold;
  opacity: 0.8;
}

.manner-ul > li {
  font-size: 1.3rem;
  line-height: 2.8rem;
  font-weight: bold;
  opacity: 0.8;
}

.animate {
  padding: 50px 0 30px;
  font-size: 2rem!important;
}

// アバウトページパララックス
.parallax {
  // height: 600px;
}

.cd-fixed-bg {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    z-index: 2;
}


/*--固定背景01--*/
.cd-fixed-bg.cd-bg-1  {
  background-image: image-url('about/nakama1.jpg');
}

/*--固定背景02--*/
.cd-fixed-bg.cd-bg-2  {
  background-image: image-url('about/nakama5.jpg');
}

/*--固定背景03--*/
.cd-fixed-bg.cd-bg-3  {
  background-image: image-url('about/nakama2.jpg');
}

.about-content {
  width: 75%;
  margin-right: 50px;
  margin-left: auto;
}

.about-content > p {
  color: black;
  font-size: 1.3rem!important;
  opacity: 0.8;
  padding-left: 20px;
  letter-spacing: 2px;
}

.notitle-about-content {
  padding: 50px 0;
}

.howto-side-box {
  width: 95%;
  margin: 20px auto 60px;
}

.howto-box {
  text-align: center;
  border-radius: 5px;
  background-color: #faf0e6;
  transition: all 0.4s;
}

.howto-box:hover {
  transform: scale(1.2, 1.2);
}

.howto-box > h3 {
  font-size: 1.5rem;
  padding: 30px 0;
  color: midnightblue;
}

.howto-image {
  width: 95%;
  margin-bottom: 12px;
  height: 380px;
}

.howto-message {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}

.howto-message > p {
  font-size: 1.6rem!important;
  margin-bottom: 0!important;
}

.expand-message {
  display: block;
  text-align: center;
  font-size: 1rem!important;
  color: white;
  margin-bottom: 20px;
}