// Place all the styles related to the public::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_prefecture_code {
  height: 44px!important;
}

#post_genre_id {
  height: 44px!important;
}

.post-info-area {
  background-color: lavender;
  opacity: 0.9;
  border-radius: 5px;
  padding: 40px 20px;
}

.post-content-area {
  padding: 35px 0 0;
}

.post-index-link {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.post-box {
  width: 90%;
  margin: 30px auto;
  border-radius: 10px;
  background-color: rgb(230, 230, 250);
}

.left-post {
  padding: 15px 0;
}

.post-index-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0000cd;
}

.img-size {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.posts-index-width {
  width: 50%!important;
  margin-left: 3%;
}

.right-post {
  width: 40%;
  margin-right: 5%;
}

.main-messages {
  position: absolute;
  top: 5%;
  left: 10%;
  color: white;
  letter-spacing: 3px;
}

.weekly_posts {
  font-size: 3rem;
  padding: 0 5px;
}

.new-post-title, .genre-ranking-title {
  display: inline-block;
  margin: 10px 0 40px !important;
  padding: 10px 20px;
  font-size: 1.5rem !important;
  // background-color: lavender;
  background-color: white;
  border-radius: 10px;
}

.area-of-hope {
  display: flex;
}

.choose-area-of-hope {
  margin: 15px 0;
}

.choose-area-of-hope > span {
  display: inline-block;
  padding-left: 50px;
  font-size: 1.1rem;
}

.new-post-prefecture-select {
  margin-left: 50px;
}

.new-post {
  width: 30%;
  background-color: lavender;
  border-radius: 10px;
  margin: 0 20px 30px;
  transition: all 0.4s;
}

.new-post:hover {
  transform: scale(1.1, 1.1);
}

.new-post-top {
  min-height: 330px;
}

.new-post-top > p {
  font-size: 1rem!important;
}

.new-post > div > span {
  display: inline-block;
  padding: 7px 0;
}

.new-posts-area {
  margin: 75px 0;
}

.ranking-number {
  font-size: 1.5rem;
}

.genre-ranking-box {
  // background-color: lavender;
  background-color: blanchedalmond;
  border-radius: 10px;
  padding: 10px 20px;
  width: 25%;
  font-size: 1.3rem;
  transition: all 0.4s;
}

.genre-ranking-box:hover {
  transform: scale(1.1, 1.1);
}

.genre-ranking {
  padding-bottom: 75px;
}

.link-to-index {
  text-align:center;
  padding-top: 30px;
}

.match-messages-box {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
}

.match-messages {
  font-size: 1.2rem;
}

.no-sign-in-message {
  font-size: 1rem!important;
  text-align: center;
  margin-bottom: 0;
}

.no-sign-in-message > strong {
  font-size: 1.2rem;
  color: white;
}

.post-show-img {
  width: 80%;
  height: auto;
  margin-top: 50px;
}

.post-top-img {
  width: 80%;
  margin: 0 auto;
}

#fa-1 {
  color: #DBB400;
}

#fa-2 {
  color:#C9CACA;
}

#fa-3 {
  color:#C47022;
}

.ranking-genre-name {
  margin: 1rem 0;
  font-size: 1.3rem!important;
}

.new-post-field {
  line-height: 2.5rem;
  width: 100%;
  border: none;
  border-radius: 5px;
}