// Place all the styles related to the public::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_prefecture_code {
  height: 44px!important;
}

#post_genre_id {
  height: 44px!important;
}

.post-info-area {
  padding-bottom: 75px;
}

.post-content-area {
  padding-bottom: 75px;
}

.post-index-link {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.post-box {
  margin: 30px 0;
  border-radius: 10px;
  background-color: rgb(230, 230, 250);
}

.left-post {
  padding: 15px;
}

.img-size {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.posts-index-width {
  width: 50%!important;
}

.main-messages {
  position: absolute;
  top: 5%;
  left: 10%;
  color: white;
  letter-spacing: 3px;
}

.weekly_posts {
  font-size: 3rem;
  padding: 0 5px;
}

.new-post-title, .genre-ranking-title {
  display: inline-block;
  margin: 10px 0 30px !important;
  padding: 10px 20px;
  font-size: 1.5rem !important;
  background-color: lavender;
  border-radius: 10px;
}

.area-of-hope {
  display: flex;
}

.choose-area-of-hope {
  margin: 15px 0;
}

.choose-area-of-hope > span {
  display: inline-block;
  padding-left: 30px;
  font-size: 1.1rem;
}

.new-post {
  width: 30%;
  background-color: lavender;
  border-radius: 10px;
  margin: 0 20px;
  transition: all 0.4s;
}

.new-post:hover {
  transform: scale(1.1, 1.1);
}

.new-post-top {
  min-height: 330px;
}

.new-post > div > span {
  display: inline-block;
  padding: 10px 20px;
}

.new-posts-area {
  margin: 75px 0;
}


.ranking-number {
  font-size: 1.5rem;
}

.genre-ranking-box {
  background-color: lavender;
  border-radius: 10px;
  padding: 10px 20px;
  width: 25%;
  font-size: 1.3rem;
}

.genre-ranking {
  padding-bottom: 75px;
}

.link-to-index {
  text-align:center;
  padding-top: 30px;
}

.match-messages-box {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 75px;
  text-align: center;
}

.match-messages {
  font-size: 1.2rem;
  color: #D3E173;
}