// Place all the styles related to the public::rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room-show-area {
  width: 70%;
  margin: 40px auto;
  background-color:rgb(141, 171, 216);
}

.chat-space {
 padding: 0px 40px;
}

.create-message {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}

.create-message-input {
  width: 100%;
  line-height: 2.5rem;
  border-radius: 10px;
  border: none;
}

.chat-icon {
  width: 70px;
  height: 60px;
  border-radius: 50%;
}

.balloon-top {
  margin-left: 40px;
  display: inline-block;
  padding: 7px 40px;
  min-width: 150px;
  max-width: 60%;
  color: black;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
  text-align: left;
}

.balloon-top p {
  margin: 20px 0;
  padding: 0;
}
