// Place all the styles related to the public::searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.search-form {
  width: 70%;
  margin: 0 auto 75px;
  background-color: rgba(230, 230, 250, 0.9);
  border-radius: 10px;
}

.first-search-field {
  padding-top: 50px;
}

.search-fields {
  width: 90%;
  margin-left: 10%;
}

.search-field {
  line-height: 2.5rem;
  width: 80%;
  border: none;
  border-radius: 5px;
}

.search-select {
  height: 46px;
  border: none;
  border-radius: 5px;
}

.hit-count-message {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
  font-size: 1.2rem;
  color: lavender;
}

.no-hit-message {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
  font-size: 1.2rem;
  color: black;
}

// インクリメンタルサーチ関連
.incremental-search-result {
  width: 80%;
  margin: 0 auto;
}

.js-text_field {
  line-height: 2.5rem;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.change-src {
  margin: 30px 0;
}

// ソートCSS
.sort-area {
  width: 70%;
  margin: 0 auto;
  padding: 30px 0;
}

.sort-btn {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 15px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}

.sort_link {
  color: black;
}

.incremental-search-area {
  padding: 50px 0 100px  ;
}