// Place all the styles related to the public::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .design-height {
//   height: 600px;
// }

#forget-password-title {
  padding-top: 130px;
}

.withdraw-page {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.withdraw-page > h4 {
  padding: 50px 0;
  font-size: 1.6rem;
}

.withdraw-message {
  padding: 50px 0 30px;
}

.profile-h3 {
  display: inline-block;
  margin: 10px 0 30px!important;
  padding: 10px 20px;
  font-size: 1.5rem!important;
  background-color: lavender;
  border-radius: 10px;
}

.icon-height {
  line-height: 80px;
}

.field {
  padding-bottom: 30px;
}

.sign-up-span {
  color: #b4eaf7;
  display: inline-block;
  font-size: 0.9rem;
  padding-left: 25px;
}

.actions {
  width: 80%;
  text-align: center;
  padding: 40px 0;
  margin: 0 auto;
}

.user-edit-btn {
  margin-right: 30px;
}

.sign-in-link {
  width: 80%;
  margin:0 auto;
  text-align: center;
  padding: 20px 0 40px;
  font-size: 1.2rem;
}

.sign-up-link {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 40px;
  font-size: 1.2rem;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
}

#user_prefecture_code {
  height: 44px!important;
}

#prefecture_code {
  height: 44px!important;
}

#user_birthday_1i {
  height: 35px;
  margin: 0 3px;
}

#user_birthday_2i {
  height: 35px;
  width: 60px;
  margin: 0 3px;
}

#user_birthday_3i {
  height: 35px;
  width: 60px;
  margin: 0 3px;
}

.current-icon {
  margin-left: 75px;
}

.choose-image {
  margin-left: 10px;
}

.profile-area {
  padding-bottom: 75px;
}

.posts-area {
  padding-bottom: 75px;
}

// お気に入り一覧

.favorites-post {
  border: 1px solid lavender;
}

.favorites-index {
  padding-bottom: 75px;
}

.favorites-thead {
  background-color: lavender;
}

.sign-in-area {
  width: 90%;
  margin: 0 auto;
}

.sign-up-area {
  width: 90%;
  margin: 0 auto;
}

.profile-table {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 30px!important;
}

.profile-table td {
  padding: 1.2rem 0.75rem!important;
  font-size: 1.4rem!important;
}

.edit-width {
  width: 90%;
  margin: 0 auto;
}

.review-image-area {
  text-align: center;
  padding-bottom: 60px;
}

.link-to-inquiry {
  font-size: 2rem;
  color: #faebd7!important;
}

.no-favorites-message {
  min-height: 500px;
}

.no-favorites-message > p {
  margin-bottom: 0;
  line-height: 300px;
  font-size: 1.8rem!important;
}

.select-width {
  width: 300px;
  font-size: 1.2rem;
}