<div class="background-color">

  <h2 class="page-title">タイトルかんたん検索</h2>

  <div class="incremental-search-area text-center">
    <%= text_field_tag :title, '', class: "js-text_field focus-green col-lg-6 col-sm-8 m-3", placeholder: 'タイトルを入力してください' %>
  </div>

  <div class="incremental-search-result">
  </div>

  <div class="link-box two-btn">
    <div class="link">
      <% if user_signed_in? %>
        <%= link_to "トップへ", posts_top_path, class:"btn btn-sm home-btn-color m-size-btn" %>
      <% else %>
        <%= link_to "トップへ", root_path, class:"btn btn-sm home-btn-color m-size-btn" %>
      <% end %>
    </div>

    <div class="link">
      <%= link_to "投稿一覧へ", posts_path, class:"btn btn-sm post-btn-color m-size-btn" %>
    </div>
  </div>
</div>
<script>
  // インクリメンタルサーチ
  $(document).on('turbolinks:load', function() {
    $('.js-text_field').on('keyup', function (e) {

      console.log(e.key,　":", e.keyCode);
      /*
      *  IME確定のときだけの場合
      * if(e.key != 'Enter') {
      *
      */
      var title = $.trim($(this).val());

      $.ajax({
        type: 'GET',
        url: '/searches/incremental_search',
        data: { keyword: title },
        dataType: 'json'
      })

      .done(function(posts) {
        $(".incremental-search-result").empty();
        if (title.length !== 0) {
          // デバッグ用
          console.log("find!");

          posts.forEach(function(post) {
            addPost(post);
          });

        //入力欄に文字が入力されてない場合処理を終了
        } else if (title.length == 0) {
          // デバッグ用
          console.log("title.length => 0")
          $(".incremental-search-result").empty();
          return false;
        }

        // //検索に一致する投稿がない場合はaddNoPost
        // } else {
        //   // デバッグ用
        //   console.log("other");
        //   addNoPost();
        // }
      });
    });

    function addPost(post) {
      if (post.image_url == null)
      // 本番環境では/assets/不要？
        var image_source = '/assets/no-post-image.png'
      else
        var image_source = post.image_url

      var html = `
        <div class="post-box flex-around">
          <div class="left-post posts-index-width">
            <span class="inline mt-2 post-index-label">【タイトル】</span>
            <br>
            <span class="inline mb-2 ml-2 pl-3">${post.title}</span>
            <br>
            <span class="inline mt-2 post-index-label">【希望性別】</span>
            <br>
            <span class="inline mb-2 ml-2 pl-3">${post.gender}</span>
            <br>
            <span class="inline mt-2 post-index-label">【希望エリア】</span>
            <br>
            <span class="inline mb-2 ml-2 pl-3">
              ${post.prefecture_name}
              ${post.municipality}
            </span>
            <br>
            <span class="inline mt-2 post-index-label">【 本文 】</span>
            <br>
            <span class="inline mb-2 ml-2 pl-3" style="white-space: pre-wrap;">${post.content}</span>
          </div>

          <div class="right-post text-center">
            <img class="change-src img-size" src="${image_source}">
            <br>
            <a href="/posts/${post.id}" data-method="get" class="btn btn-sm m-size-btn post-show-btn-color">くわしく見る</a>
          </div>
        </div>
      `;

      // 変数htmlをviewに反映
      $(".incremental-search-result").append(html);
    }

    function addNoPost(post) {
      var html = `
        <div style="text-align:center;">投稿が見つかりません</div>
      `;

      // 変数htmlをviewに反映
      $(".incremental-search-result").append(html);
    }
  });
</script>