<div class="container">
  <h2>About</h2>

  <h3>Enrich-ityとは</h3>

  <div class="main-message">
    <p>Enrich-ityは、人生を充実にするための<storng>「仲間」</storng>を見つけることのできるWebアプリです</p>

    <p>
      自分の求めている<strong>「仲間」</strong>を
      <br>
      「検索」と「投稿」の２つの方法から探すことができます！
    </p>

    <h4>-検索-</h4>
    <p>
      気の合いそうな投稿を見つけたら、投稿者とチャットでやりとりができます<br>
      オンラインで話すもよし、実際に会うもよし、その後のやりとりは皆様にお任せします<br>
      <span>※ Enrich-ityはやり取り間でのトラブルについて一切責任を負いません</span>
    </p>

    <h4>-投稿-</h4>
    <p>
      自ら投稿したい場合は、エリアや年代、性別などの希望条件を選ぶことができます<br>
      投稿ができたら、チャットが来るのを楽しみに待ちましょう
    </p>

    <p>皆さんの人生がこのEnrich-ityを使うことによって少しでも好転することを祈っています！</p>
  </div>

  <div class="recommented-user">
    <h4>こんな人におすすめ！</h4>
    <ul>
      <li>新しい習慣形成をしたい人</li>
      <li>共に切磋琢磨できる「仲間」がほしい人</li>
      <li>実家を出て新天地で「友達」を作りたい人</li>
      <li>転勤先で「趣味仲間」を見つけたい人</li>
    </ul>
  </div>

  <div class="purpose">
    <h4>こんな目的で使ってね！</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>