<div class="background-color" style="min-height: 850px;">
  <h2 class="page-title">ジャンル新規登録</h2>
  <div class="new-genre-form">
    <%= form_with model: @genre, url: private_genres_path, local: true do |f| %>
      <div class="field py-3 my-3">
        <%= f.label :"【ジャンル名】" , class:"pm-3 mb-3 col-sm-8" %>
        <br>
        <%= f.text_field :name, placeholder: "ジャンル名を入力してください", class:"col-sm-6 new-genre-form focus-green" %>
      </div>

      <div class="admin-btn-area">
        <%= f.submit "　新規登録する　", class:"btn btn-sm btn-success m-size-btn" %>
      </div>
    <% end %>
  </div>
</div>