<div class="background-color">
  <h2 class="page-title">ジャンル新規登録</h2>
  <div class="new-genre-form">
    <%= form_with model: @genre, url: private_genres_path, local: true do |f| %>
      <div class="field">
        <%= f.label :"【ジャンル名】" , class:"col-sm-8" %>
        <br>
        <%= f.text_field :name, placeholder: "ジャンル名を入力してください", class:"col-sm-8 text-left" %>
      </div>

      <div class="admin-btn-area">
        <%= f.submit "　新規登録する　", class:"btn btn-sm btn-success bigger-btn p-3" %>
      </div>
    <% end %>
  </div>
</div>