/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

body {
  font-family: 'Kiwi Maru', serif;
}

.first {
  display: none;
}

img {
  border-radius: 3px;
}

.last {
  display: none;
}

input {
  font-size: 1.1rem;
  text-align: center;
}

label {
  margin: 0!important;
}

select {
  border-radius: 5px;
}

p {
  font-size: 1.3rem!important;
  font-weight: bold!important;
}

span {
  font-size: 1.1rem;
}

.none {
  display: none;
}

.none-for-smartphone {
  display: none;
}

.none-block {
  display: none;
}

.no-bottom-p {
  margin-bottom: 0!important;
}
.alert {
  display: none!important;
}

.sircle-img {
  border-radius: 50%;
}

.input-longer-form {
  width: 250px;
}

.input-longest-form {
  width: 300px;
}

.background-color {
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
  padding-top: 120px;
  padding-bottom: 100px;
  opacity: 0.9;
}

// ヘッダー
header {
  position: fixed;
  width: 100%;
  height: 120px;
  Z-index: 3;
  background-color: rgb(240,248,255);
}

// 未読通知数表示
.notification-counts {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ff0000;
  color: white;
  text-align: center;
  position: relative;
  left: 30px;
}

.notification-counts > span {
  display: inline-block;
  line-height: 35px;
  font-weight: bold;
}

.sign-in-nickname {
  color: green;
  max-width: 200px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-around-top {
  display: flex;
  justify-content: space-around;
  align-items: top;
}

.flex-no-center {
  display: flex;
  align-items: center;
}

.hamburger-design {
  background: #add8e6;
}

#navbarNavDropdown {
  background-color: rgb(240,248,255);
}

#full-size {
  padding: 0;
  height: inherit;
}

.navbar-left {
  margin-left: 15px!important;
}

.navbar-toggler {
  margin-right: 40px!important;
}

.slide-btn {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, #9bd5ff 50%)!important;
	background-position: 0 0!important;
	background-size: 200% auto!important;
	transition: all .3s ease 0s;
	text-decoration: none;
}

.slide-btn:hover {
  color: white!important;
	background-position: -100% 0!important;
}

.slide-btn2 {
  min-width: 110px;
  color: #6c757d;
  border: 1px solid #6c757d;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, skyblue 50%)!important;
	background-position: 0 0!important;
	background-size: 200% auto!important;
	transition: all .3s ease 0s;
}

.slide-btn2:hover {
  color: white;
  border: 1px solid skyblue;
	background-position: -100% 0!important;
}

.navbar-toggler {
  display: block;
  cursor: pointer;
  position: relative;
  border: none;
  width: 40px;
  height: 40px;
}

.common-horizontal-line {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 7px solid skyblue;
  width: 100%;
  transition: 0.55s;
}

.top {
  top: 0;
}
.middle {
  top: 14px;
}
.bottom {
  top: 28px;
}

.top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}

.middle-click {
  opacity: 0;
}

.bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}

// フッター
footer {
  height: 100px;
  background-color: rgb(240,248,255);
  text-align: center;
}

.footer-box {
  height: 100px;
  background-color: rgb(240,248,255);
}

.footer-message > p {
  margin: 0;
}

.sns-rink > span {
  display: inline-block;
  margin: 0 15px;
}

.fa-facebook-square {
  color: royalblue;
}

// .fa-instagram {
//   color:#fff;
//   background:radial-gradient(at 20% 120%,orange, #f15a4d 25%, #f13f79 55%, #9933ff 100%) no-repeat;
//   border-radius:20%;
// }

// トップへスクロールボタン
#up-scroll {
  z-index: 5;
  position: fixed;
  right: 20px;
  bottom: 100px;
}
.up {
  width: 50px;
  height: 50px;
}

// フラッシュメッセージ
.notice {
  padding: 60px 0 20px;
  text-align: center;
  color: green;
  font-size: 1.5rem;
  font-weight: bold;
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
}

// 共通

.focus-green:focus {
  border: 3px solid green;
  outline: 0;
}

.page-title {
  width: 85%;
  margin: 0 auto;
  text-align:center;
  padding: 70px 0;
  font-weight: bold;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.paginate {
  width: 90%;
  margin: 0 auto;
  padding: 45px 0;
}

.pagination {
  display: block;
  text-align: center;
}

.pagination > span > a {
  color: gray;
  font-size: 0.9rem!important;
  font-weight: bold;
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  width: 75px;
  border: 1px solid skyblue;
  background-color: skyblue;
  border-radius: 5px;
}

.current {
  color: black;
  font-weight: bold;
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  width: 75px;
  border: 1px solid lightgray;
  background-color: lightgray;
  border-radius: 5px;
}

.position-relative {
  position: relative;
}

#preview {
  width: 40%;
}

.vertical-middle {
  vertical-align: middle!important;
}

// 管理者関連

.admin-btn-area {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

.genre-name {
  font-size: 1.4rem!important;
  vertical-align: middle!important;
}

.new-genre-form {
  padding-top: 30px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#genre_name {
  height: 50px;
}

.genres-index {
  margin-bottom: 0!important;
}


// ボタン関連

// ボタン
.bigger-btn {
  padding: 12px 25px;
  margin: 10px 0;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1rem;
  box-shadow: 0 5px 0 rgba(0,0,0,0.3);
}

.bigger-btn:hover {
  margin: 12px 0 8px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.m-size-btn {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
  min-width: 200px;
  max-width: 300px;
  margin: 20px auto;
  padding: 12px!important;
  font-size: 1.1rem!important;
  box-shadow: 0 5px 0 rgba(0,0,0,0.3);
}

.m-size-btn:hover {
  margin: 22px auto 18px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.l-size-btn {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
  min-width: 250px;
  max-width: 350px;
  margin: 20px auto;
  padding: 12px!important;
  font-size: 1.1em!important;
  box-shadow: 0 5px 0 rgba(0,0,0,0.3);
}

.l-size-btn:hover {
  margin: 22px auto 18px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}


// 問い合わせボタン
.inquiry-btn-color {
  background-color: #faebd7;
  border: 1px solid #faebd7;
}

.inquiry-btn-color:hover {
  background-color: rgba(250, 235, 215, 0.9);
}

// アバウトボタン
.about-btn-color {
  background-color: #ffeff9;
  border: 1px solid #ffeff9;
}

.about-btn-color:hover {
  background-color: #ffeff9;
  opacity: 0.9;
}

// ホームへボタン
.home-btn-color {
  background-color: #faebd7;
  border: 1px solid #faebd7;
}

.home-btn-color:hover {
  background-color: rgba(250, 235, 215, 0.9);
}

// 使い方を見るボタン
.how-to-btn-color {
  background-color: #b4eaf7;
  border: 1px solid #b4eaf7;
}

.how-to-btn-color:hover {
  background-color: #b4eaf7;
  opacity: 0.9;
}

// 投稿をみるボタン
.post-btn-color {
  background-color: #d7f7be;
  border: 1px solid #d7f7be;
}

.post-btn-color:hover {
  background-color: #d7f7be;
  opacity: 0.9;
}

// 投稿詳細ボタン
.post-show-btn-color {
  background-color: #b4eaf7;
  border: 1px solid #b4eaf7;
}

.post-show-btn-color:hover {
  background-color: #b4eaf7;
  opacity: 0.9;
}

// 編集(会員も投稿も)ボタン
.edit-btn-color {
  background-color: #d7f7be;
  border: 1px solid #d7f7be;
}

.edit-btn-color:hover {
  background-color: #d7f7be;
  opacity: 0.9;
}

// お気に入り追加ボタン
.favorite-btn-color {
  background-color: #b4eaf7;
  border: 1px solid #b4eaf7;
}

.favorite-btn-color:hover {
  background-color: #b4eaf7;
  opacity: 0.9;
}

// チャットルーム移動or作成ボタン
.chat-btn-color {
  background-color: #d7f7be;
  border: 1px solid #d7f7be;
}

.chat-btn-color:hover {
  background-color: #d7f7be;
  opacity: 0.9;
}

// 会員詳細へボタン
.user-show-btn-color {
  background-color: #fed8f2;
  border: 1px solid #fed8f2;
}

.user-show-btn-color:hover {
  background-color: #fed8f2;
  opacity: 0.9;
}

.notification-close-btn-color {
  background-color: #e7eced;
  border: 1px solid #e7eced;
}

.notification-close-btn-color:hover {
  background-color: #e7eced;
  opacity: 0.9;
}

.search-btn-color {
  background-color: #b4eaf7;
  border: 1px solid #b4eaf7;
}

.search-btn-color:hover {
  background-color: #b4eaf7;
  opacity: 0.9;
}

.post-new-btn-color {
  background-color: #fed8f2;
  border: 1px solid #fed8f2;
}

.post-new-btn-color:hover {
  background-color: #fed8f2;
  opacity: 0.9;
}

.incremental-btn-color {
  background-color: #fed8f2;
  border: 1px solid #fed8f2;
}

.incremental-btn-color:hover {
  background-color: #fed8f2;
  opacity: 0.9;
}

// 以下レスポンシブ
@media (max-width: 992px) {

  p {
    font-size: 1.1rem!important;
  }

  .container-md, .container-sm, .container {
    max-width: 95%!important;
    margin: 0 auto!important;
  }

  .top-message {
    font-size: 1.6rem;
  }
  .common-message-style {
    font-size: 1.2rem;
  }

  .notification-counts {
    display: none;
  }

  .post-show-img {
    width: 100%;
    margin-top: 50px;
  }

  span {
    font-size: 1.1rem;
  }

  .about-content > p {
    font-size: 1.1rem !important;
  }

  .md-margin1 {
    margin-left: 15px!important;
  }

  .sign-in-display {
    min-width: 200px;
  }

  .m-size-btn  {
    min-width: 150px;
  }

  .about-content {
    width: 85%;
    margin: 0 auto;
  }

  .new-post {
    width: 40%;
  }

  .new-post:last-child {
    display: none;
  }

  .genre-ranking-box {
    padding: 10px;
    width: 30%;
  }

  .match-messages-box {
    padding-bottom: 10px;
  }

  .post-box {
    width: 95%
  }

  .offset-2 {
    margin-left: 5%!important;
  }

  #post_municipality {
    max-width: 220px;
    font-size: 0.8rem;
  }

  .new-post-prefecture-select {
    vertical-align: bottom;
  }

  .media-list-style {
    margin-left: 0;
  }

  .fix-post-field-padding {
    padding-left: 7px!important;
  }

  .media-span-size {
    font-size: 0.8rem!important;
  }

  .pagination > span > a {
    width: 55px;
    padding: 7px 5px;
  }

  .room-show-area {
    width: 90%;
  }

  .search-form {
    width: 85%;
  }

  .fix-noti-width {
    max-width: 80%;
  }

  .img-size {
    width: 85%;
  }

  .sort-area {
    width: 100%;
  }

  .incremental-search-result {
    width: 90%;
  }

  .profile-area {
    width: 85%;
    margin: 0 auto;
  }

  .current-post-area {
    width: 85%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .btn-for-smartphone {
    min-width: 250px;
  }

  .slide-image {
    height: 400px;
  }

  .weekly_posts {
    font-size: 1.8rem;
  }

  .new-post:last-child {
    display: block;
  }

  .release-flex {
    display: block;
  }

  .howto-side-box {
    width: 90%;
    marigin: 0 auto;
  }

  .howto-box {
    margin-bottom: 40px;
  }

  .new-post {
    width: 85%;
    margin: 0 auto 30px;
  }

  .genre-ranking-box {
    width: 70%;
    margin: 0 auto 40px;
  }

  .genre-ranking {
    padding-bottom: 0;
  }

  .footer-message > p {
    font-size: 0.8rem!important;
  }

  .sns-rink > span {
    margin: 0px 7px;
  }

  .fix-media-btn {
    padding: 5px!important;
  }

  .none {
    display: inline;
  }

  .none-block {
    display: block;
  }

  .media-none {
    display: none;
  }

  .post-info-area {
    width: 100%;
    margin: 0 auto;
  }

  .post-show-element {
    display: flex;
  }

  .post-show-element > label {
    display: inline;
    width: 50%;
    padding-bottom: 7px;
  }

  .post-show-img {
    display: block;
    width: 70%;
    height: auto;
    margin: 0px auto 30px;
  }

  .link-box {
    display: block;
    padding: 15px;
    text-align: center;
  }

  .background-color {
    padding-bottom: 30px;
  }

  .no-bottom-p {
    margin-top: 7px;
  }

  .posts-index-width {
    width: 90%!important;
    margin: 0 auto;
  }

  .post-box {
    display: block;
  }

  .left-post  {
    padding-bottom: 0;
  }

  .fix-media-field {
    display: block;
    padding-bottom: 15px!important;
  }

  .fix-media-field > div {
    margin-bottom: 10px!important;
  }

  .media-new-post-fix-margin {
    margin-left: 40px;
  }

  .new-post-field {
    width: 90%;
    margin: 0 auto;
  }

  .inquiry-form {
    width: 95%;
  }

  .change-block {
    display: block;
  }

  .form-item-label.adjustment {
    margin-bottom: 20px;
  }

  .form-item-textarea {
    width: 90%;
  }

  .qa-area {
    width: 85%
  }

  .room-show-area {
    min-height: 550px;
  }

  .notification-area {
    width: 90%;
  }

  .fix-noti-width {
    max-width: 90%;
  }

  .page-title {
    width: 95%;
  }

  .top-messages {
    width: 100%;
  }

  .top-message {
    font-size: 1.4rem;
  }

  .common-message-style {
    font-size: 1.1rem;
  }

  .animate {
    font-size: 1.5rem !important;
  }

  .absolute-flex {
    display: flex!important;
  }

  .ityped-message-box {
    position: absolute;
    left: 3%;
  }

  .right-post {
    width: 90%;
    margin: 0 auto;
  }

  .search-fields {
    width: 95%;
    margin-left: 5%;
  }

  .sort-btn {
    margin: 15px auto;
    display: block;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: relative;
  }

  .sort-btn > a {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);

  }

  .sort-area {
    padding: 0;
  }

  .sign-in-area {
    width: 100%;
  }

  .sign-up-area {
    width: 100%;
  }

  .input-longest-form {
    margin-top: 10px;
  }

  label {
    font-size: 1.2rem;
  }

  .select-width {
    margin: 10px auto 0;
  }

  .sign-up-span {
    padding-left: 0;
  }

  .media-pass-form {
    display: block;
    margin: 10px auto 0;
  }

  .profile-area {
    width: 92%;
    margin: 0 auto;
  }

  .m-size-btn {
    font-size: 1rem!important;
  }

  .media-center {
    text-align: center;
  }
  .profile-table td {
    font-size: 1.3rem !important;
  }

  .profile-area {
    padding-bottom: 30px;
  }

  .link-to-inquiry {
    font-size: 1.5rem;
  }
}


// スマホサイズ
@media (max-width: 576px) {
  .main-messages {
    position: absolute;
    top: 3%;
    left: 5%;
  }

  .smartphone-none {
    display: none;
  }

  .smartphone-block {
    display: block;
  }

  .smartphone-inline {
    display: inline-block;
  }

  footer {
    position: relative;
  }

  .sns-rink {
    position: absolute;
    bottom: 10px;
    right: 5px;
  }

  .top-message {
    line-height: 2.5rem;
  }

  .ityped-message {
    font-size: 1.6rem;
  }

  .form-item-input {
    margin-left : 0;
  }

  .sircle-img {
    width: 30px;
    height: 30px;
  }

  .a-notification {
    width: 98%;
  }

  .chat-link-strong {
    font-size: 1.1rem;
  }

  .no-bottom-p {
    margin-top: 0;
  }

  .post-content-area {
    padding-right: 0!important;
    padding-left: 0!important;
  }

  .chat-opponent-icon {
    min-width: 75px;
    max-width: 100px;
  }

  .balloon-top {
    max-width: 70%;
    padding: 7px 15px;
  }

  .page-title {
    font-size: 1.6rem;
  }

  .profile-h3 {
    margin-bottom: 0!important;
  }

}