/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

body {
  font-family: 'Kiwi Maru', serif;
}

input {
  font-size: 1.1rem;
  text-align: center;
}

.alert {
  display: none!important;
}

.sircle-img {
  border-radius: 50%;
}

.input-longer-form {
  width: 200px;
}

.input-longest-form {
  width: 300px;
}

.background-color {
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
  padding-top: 120px;
  padding-bottom: 100px;
  opacity: 0.9;
}

// ヘッダー
header {
  position: fixed;
  width: 100%;
  height: 120px;
  Z-index: 3;
  background-color: rgb(240,248,255);
}

// 未読通知数表示
.notification-counts {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ff0000;
  color: white;
  text-align: center;
  position: relative;
  left: 30px;
}

.notification-counts > span {
  display: inline-block;
  line-height: 35px;
  font-weight: bold;
}

.sign-in-nickname {
  color: green;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-around-top {
  display: flex;
  justify-content: space-around;
  align-items: top;
}

.hamburger-design {
  background: #add8e6;
}

#navbarNavDropdown {
  background-color: rgb(240,248,255);
}

#full-size {
  padding: 0;
  height: inherit;
}

.navbar-left {
  margin-left: 15px!important;
}

.navbar-toggler {
  margin-right: 40px!important;
}

.slide-btn {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, lavender 50%)!important;
	background-position: 0 0!important;
	background-size: 200% auto!important;
	transition: all .3s ease 0s;
	text-decoration: none;
}

.slide-btn:hover {
	background-position: -100% 0!important;
}

.slide-btn2 {
  min-width: 110px;
  color: #6c757d;
  border: 1px solid #6c757d;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, skyblue 50%)!important;
	background-position: 0 0!important;
	background-size: 200% auto!important;
	transition: all .3s ease 0s;
}

.slide-btn2:hover {
  color: white;
  border: 1px solid skyblue;
	background-position: -100% 0!important;
}

.navbar-toggler {
  display: block;
  cursor: pointer;
  position: relative;
  border: none;
  width: 40px;
  height: 40px;
}

.common-horizontal-line {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 7px solid skyblue;
  width: 100%;
  transition: 0.55s;
}

.top {
  top: 0;
}
.middle {
  top: 14px;
}
.bottom {
  top: 28px;
}

.top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}

.middle-click {
  opacity: 0;
}

.bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}

// フッター
footer {
  height: 100px;
  background-color: rgb(240,248,255);
  text-align: center;
}

.footer-box {
  height: 100px;
  background-color: rgb(240,248,255);
}

.footer-message > p {
  margin: 0;
}

.sns-rink > span {
  display: inline-block;
  margin: 0 15px;
}

.fa-facebook-square {
  color: royalblue;
}

.fa-instagram {
  color:#fff;
  background:radial-gradient(at 20% 120%,orange, #f15a4d 25%, #f13f79 55%, #9933ff 100%) no-repeat;
  border-radius:20%;
}

// トップへスクロールボタン

#up-scroll {
  z-index: 5;
  position: fixed;
  right: 20px;
  bottom: 100px;
}
.up {
  width: 50px;
  height: 50px;
}

// フラッシュメッセージ
.notice {
  padding: 75px 0 40px;
  text-align: center;
  color: #7fff00;
  font-size: 1.3rem;
  font-weight: bold;
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
}

// 共通

.focus-green:focus {
  border: 3px solid green;
  outline: 0;
}

.page-title {
  width: 85%;
  margin: 0 auto;
  text-align:center;
  padding: 70px 0;
  font-weight: bold;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.paginate {
  width: 90%;
  margin: 0 auto;
  padding: 45px 0;
}

.pagination {
  display: block;
  text-align: center;
}

.pagination > span > a {
  color: gray;
  font-weight: bold;
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  width: 75px;
  border: 1px solid skyblue;
  background-color: skyblue;
  border-radius: 5px;
}

.current {
  color: gray;
  font-weight: bold;
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  width: 75px;
  border: 1px solid skyblue;
  background-color: skyblue;
  border-radius: 5px;
}

.position-relative {
  position: relative;
}

#preview {
  width: 40%;
}

.vertical-middle {
  vertical-align: middle!important;
}

// 管理者関連

.admin-btn-area {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

.genre-name {
  font-size: 1.4rem!important;
  vertical-align: middle!important;
}

.new-genre-form {
  padding-top: 30px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#genre_name {
  height: 50px;
}

.genres-index {
  margin-bottom: 0!important;
}


// ボタン関連

// ボタン
.bigger-btn {
  padding: 12px 25px;
  margin: 10px 0;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1rem;
  box-shadow: 0 5px 0 rgba(0,0,0,0.3);
}

.bigger-btn:hover {
  margin: 12px 0 8px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.m-size-btn {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
  min-width: 200px;
  max-width: 300px;
  margin: 20px auto;
  padding: 12px!important;
  font-size: 1.2em!important;
  box-shadow: 0 5px 0 rgba(0,0,0,0.3);
}

.m-size-btn:hover {
  margin: 22px auto 18px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

// 問い合わせボタン
.inquiry-btn-color {
  background-color: #faebd7;
  border: 1px solid #faebd7;
}

.inquiry-btn-color:hover {
  background-color: rgba(250, 235, 215, 0.9);
}

// アバウトボタン
.about-btn-color {
  background-color: #ffeff9;
  border: 1px solid #ffeff9;
}

.about-btn-color:hover {
  background-color: #ffeff9;
  opacity: 0.9;
}

// ホームへボタン
.home-btn-color {
  background-color: #faebd7;
  border: 1px solid #faebd7;
}

.home-btn-color:hover {
  background-color: rgba(250, 235, 215, 0.9);
}

// 使い方を見るボタン
.how-to-btn-color {
  background-color: #b4eaf7;
  border: 1px solid #b4eaf7;
}

.how-to-btn-color:hover {
  background-color: #b4eaf7;
  opacity: 0.9;
}

// 投稿をみるボタン
.post-btn-color {
  background-color: #d7f7be;
  border: 1px solid #d7f7be;
}

.post-btn-color:hover {
  background-color: #d7f7be;
  opacity: 0.9;
}

// 投稿詳細ボタン
.post-show-btn-color {
  background-color: #b4eaf7;
  border: 1px solid #b4eaf7;
}

.post-show-btn-color:hover {
  background-color: #b4eaf7;
  opacity: 0.9;
}

// 編集(会員も投稿も)ボタン
.edit-btn-color {
  background-color: #d7f7be;
  border: 1px solid #d7f7be;
}

.edit-btn-color:hover {
  background-color: #d7f7be;
  opacity: 0.9;
}

// お気に入り追加ボタン
.favorite-btn-color {
  background-color: #b4eaf7;
  border: 1px solid #b4eaf7;
}

.favorite-btn-color:hover {
  background-color: #b4eaf7;
  opacity: 0.9;
}

// チャットルーム移動or作成ボタン
.chat-btn-color {
  background-color: #d7f7be;
  border: 1px solid #d7f7be;
}

.chat-btn-color:hover {
  background-color: #d7f7be;
  opacity: 0.9;
}

// 会員詳細へボタン
.user-show-btn-color {
  background-color: #fed8f2;
  border: 1px solid #fed8f2;
}

.user-show-btn-color:hover {
  background-color: #fed8f2;
  opacity: 0.9;
}

.notification-close-btn-color {
  background-color: #e7eced;
  border: 1px solid #e7eced;
}

.notification-close-btn-color:hover {
  background-color: #e7eced;
  opacity: 0.9;
}



// 以下レスポンシブ

@media screen and (max-width: 992px) {
  .notification-counts {
    display: none;
  }
}