/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

body {
  font-family: 'Kiwi Maru', serif;
}

input {
  font-size: 1.1rem;
  text-align: center;
}

.input-longer-form {
  width: 200px;
}

.input-longest-form {
  width: 300px;
}

.background-color {
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
  padding-top: 120px;
  padding-bottom: 100px;
}

// ボタン
.bigger-btn {
  padding: 8px 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

// ヘッダー
header {
  position: fixed;
  width: 100%;
  height: 120px;
  Z-index: 3;
  background-color: rgb(240,248,255);
}

.sign-in-nickname {
  color: green;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-around-top {
  display: flex;
  justify-content: space-around;
  align-items: top;
}

.hamburger-design {
  background: #add8e6;
}

#navbarNavDropdown {
  background-color: rgb(240,248,255);
}

#full-size {
  padding: 0;
  height: inherit;
}

.navbar-left {
  margin-left: 15px!important;
}

.navbar-toggler {
  margin-right: 40px!important;
}

#slide-btn {
  width: 100%;
  display: inline-block;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, lavender 50%);
	background-position: 0 0;
	background-size: 200% auto;
	transition: all .3s ease 0s;
	text-decoration: none;
}

#slide-btn:hover {
  cursor: pointer;
	background-position: -100% 0;
}

.navbar-toggler {
  display: block;
  cursor: pointer;
  position: relative;
  border: none;
  width: 40px;
  height: 40px;
}

.common-horizontal-line {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 7px solid skyblue;
  width: 100%;
  transition: 0.55s;
}

.top {
  top: 0;
}
.middle {
  top: 18px;
}
.bottom {
  top: 36px;
}

.top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}

.middle-click {
  opacity: 0;
}

.bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}


// フッター
footer {
  height: 100px;
  background-color: rgb(240,248,255);
  text-align: center;
}

.footer-box {
  height: 100px;
  background-color: rgb(240,248,255);
}

.footer-message > p {
  margin: 0;
}

.sns-rink > span {
  display: inline-block;
  margin: 0 15px;
}

.fa-facebook-square {
  color: royalblue;
}

.fa-instagram {
  color:#fff;
  background:radial-gradient(at 20% 120%,orange, #f15a4d 25%, #f13f79 55%, #9933ff 100%) no-repeat;
  border-radius:20%;
}

// トップへスクロールボタン

#up-scroll {
  position: fixed;
  right: 20px;
  bottom: 100px;
}
.up {
  width: 50px;
  height: 50px;
}

// フラッシュメッセージ
.notice {
  padding: 75px 0 40px;
  text-align: center;
  color: #D3E173;
  font-size: 1.3rem;
  font-weight: bold;
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
}

// 共通

.focus-green:focus {
  border: 3px solid green;
  outline: 0;
}

.page-title {
  width: 70%;
  margin: 0 auto;
  text-align:center;
  padding: 70px 0;
  font-weight: bold;
}

.inline {
  display: inline-block;
}

.paginate {
  width: 80%;
  margin: 0 auto;
  padding: 45px 0;
}

.pagination {
  display: block;
  text-align: center;
}

.pagination > span > a {
  color: gray;
  font-weight: bold;
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  width: 75px;
  border: 1px solid skyblue;
  background-color: skyblue;
  border-radius: 5px;
}

.current {
  color: gray;
  font-weight: bold;
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  width: 75px;
  border: 1px solid skyblue;
  background-color: skyblue;
  border-radius: 5px;
}

.position-relative {
  position: relative;
}

#preview {
  width: 40%;
}

.vertical-middle {
  vertical-align: middle!important;
}

// 管理者関連

.admin-btn-area {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

.genre-name {
  font-size: 1.4rem!important;
  vertical-align: middle!important;
}

.new-genre-form {
  padding-top: 30px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#genre_name {
  height: 50px;
}

.genres-index {
  margin-bottom: 0!important;
}



// 仮css

.test {
  width: 70%;
  margin: 40px auto;
  background-color:rgb(141, 171, 216);
}

// 共有Mサイズボタンにするかも
.m-size-btn {
  display: inline-block;
  width: 80%;
  margin: 20px auto;
  padding: 15px 0!important;
  font-size: 1.3rem!important;
}