<div class="notification-area">
  <h3>チャット通知</h3>

  <div id="render-index-notification" style="width: 100%;">
    <%= render "public/notifications/index_notification", my_notifications: my_notifications %>
  </div>

  <div class="text-center py-3">
    <span id="notification-close-btn" class="btn btn-sm notification-close-btn-color bigger-btn">閉じる</span>
  </div>
</div>