<div class="notification-area">
  <h3>チャット通知</h3>

  <%= render "public/notifications/index_notification", my_notifications: my_notifications %>

  <div class="my-3">
    <%= paginate my_notifications, remote: true %>
  </div>

  <div class="text-center py-3">
    <span id="notification-close-btn" class="btn btn-sm notification-close-btn-color bigger-btn">閉じる</span>
  </div>
</div>