<div class="background-color">
  <%= render "layouts/flash" %>
  <h2 class="page-title">退会確認ページ</h2>

  <div class="withdraw-page">
    <h4><strong>本当に退会しますか？</strong></h4>
    <div class="withdraw-message">
      <p>
        ご不満をお持ちの方は
        <span class="none"><br></span>
        <strong class="link-to-inquiry"><%= link_to "お問い合わせ", inquiries_get_path %></strong>
        よりご意見お待ちしております。
      </p>
      <div style="padding-top: 90px;">
        <p class="mb-1">
          退会すると、登録したメールアドレスでは
          <span class="none"><br></span>
          ログインができなくなります。
        </p>
        <p class="py-3">
          また、チャット機能やお気に入り機能などは利用できません。
          <br>
          ※一部機能はログインなしで利用できます。
        </p>

        <p>
          退会する場合は、「退会する」をクリックしてください。
        </p>
      </div>

    </div>
    <div class="link-box">
      <%= link_to "退会しない", user_path(current_user), class:"btn btn-sm user-show-btn-color m-size-btn" %>
      <span>　　　</span>
      <%= link_to "退会する", users_out_path, method: :delete, data: { confirm: "本当に退会しますか？" }, class:"btn btn-sm btn-danger m-size-btn" %>
    </div>
  </div>
</div>